<div class="mealDetails borderDiv">
	<h3>Enter the Meal Details</h3>
	<form name="enterPriceForm" ng-submit="submitDetails()" novalidate>
		<div><label for="mealPrice">Base Meal Price: $</label><input ng-model="data.mealPrice" required type="number" step="0.01"/></div>
		<div><label for="taxRate">Tax Rate: %</label><input ng-model="data.taxRate" required type="number" step="0.05"/></div>
		<div><label for="tipPercentage">Tip Percentage: %</label><input ng-model="data.tipPercentage" required type="number" step="0.1"/></div>
		<div class="error" ng-show="data.formError != ''">Please enter in valid values for the form</div>
		<div class="inputButtons">
			<button id="submit">Submit</button>
			<button type="reset" ng-click="resetDetails()" id="cancel">Cancel</button>
		</div>
	</form>
</div>

<div class="customerCharges borderDiv">
	<h3>Customer Charges</h3>
	<div><label>Subtotal</label><span>{{data.subtotal | number:2}}</span></div>
	<div><label>Tip </label><span>{{data.tip | number:2}}</span></div>
	<hr>
	<div><label>Total </label><span>{{data.total | number:2}}</span></div>
</div>
